.page-header
  %h1 About

%h2 Purpose
%p
  %b Liturgical Calendar API
  exposes Roman Catholic liturgical calendar computed
  according to the norms set forth by the liturgical reform
  after the II Vatican Council. Several Sanctorale calendars
  are available and others can be added easily.

%p
  Expected audience are developers of websites and other Internet
  applications needing access to calendar information.

%h2 I have encountered an error

%p
  Please
  %a{href: 'https://github.com/igneus/church-calendar-api/issues'} let us know!

%h2 Contact

%p
  Liturgical Calendar API is developed and maintained by
  %br
  Jakub Pavlík
  %a{href: 'mailto:jkb.pavlik@gmail.com'} jkb.pavlik@gmail.com