.page-header
  %h1 Browse Church Calendar

- start_year.upto(end_year) do |year|
  %p
    %strong= year
    - 1.upto(12) do |month|
      - cls = %w{btn btn-circle}
      - if year == today.year && month == today.month
        - cls << 'btn-primary'
      - else
        - cls << 'btn-default'

      %a{href: "/browse/#{year}/#{month}", class: cls.join(' ')}= month