.page-header
  %h1 Showcase

%p
  Have you built an application relying on Church Calendar API?
  Showcase it here! You may directly edit
  %a{href: 'https://github.com/igneus/church-calendar-api/blob/master/views/showcase.haml'} this page
  at github and open a pull-request.

%h2 In adiutorium homepage

%p
  Homepage of the
  %a{href: 'http://www.inadiutorium.cz'} In adiutorium
  project offers
  Liturgy of the Hours musical scores for the current liturgical season.
  For determination of the current liturgical season and day
  it relies on Church Calendar API.
  The "liturgical today" is retrieved once a day and cached until midnight.
