.page-header
  %h1 About

%h2 Purpose
%p
  %b Liturgical Calendar API
  exposes Roman Catholic liturgical calendar computed
  according to the norms set forth by the liturgical reform
  after the II Vatican Council. Several Sanctorale calendars
  are available and others can be added easily.

%p
  Expected audience are developers of websites and other Internet
  applications needing access to calendar information.

%h2 I have encountered an error

%p
  Please
  %a{href: 'https://github.com/igneus/church-calendar-api/issues'} let us know!

%h2 I would like to run my own instance

%p
  You are most welcome!
  Church Calendar API is free software under the
  %a{href: 'https://www.gnu.org/licenses/lgpl-3.0.en.html'} GNU/LGPL 3
  license.
  Full source code together with installation instructions is at
  %a{href: 'https://github.com/igneus/church-calendar-api/'} github

%h2 Contact

%p
  This instance of Liturgical Calendar API is maintained by
  %br
  = maintainer
  %a{href: email}= email
