.page-header
  %h1 API Documentation

%p
  The Church Calendar API provides access to calendar data
  for any day.

%p
  %strong Swagger:
  Apart of this documentation for humans, there is also a
  %strong
    %a{href: '/swagger.yml'} Swagger documentation,
  which can be loaded in your favourite
  %a{href: 'http://petstore.swagger.io'} Swagger API browser
  or even used to
  %a{href: 'https://github.com/swagger-api/swagger-codegen'} generate client code.

%h2 Specify API Version and Language

%p
  API version must be specified at the beginning of each request path
  %code /api/:version/:lang
  Right now the API only has version 0
  %code v0
  and a few supported languages:

%ul
  %li
    %code en
    English
  %li
    %code it
    Italian
  %li
    %code la
    Latin
  %li
    %code cs
    Czech

%p
  Full example:
  %code /api/v0/en

%p
  Due to a design flaw this API version handles
  %em temporale
  and
  %em sanctorale
  feast names independently.
  Temporale feast names are governed by language specified
  in request path.
  E.g.
  %code /api/v0/en/calendars/czech/...
  would return a mixture of Czech (for sanctorale)
  and English (for temporale) feast names.
  In order to have all Czech, it is necessary to specify Czech language.
  %code /api/v0/cs/calendars/czech/...

%p
  In the following examples the common beginning explained above
  is omitted for brevity.

%h2 Select Calendar to Query

.panel.panel-default
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars'} /calendars
  .panel-body
    %p
      The API offers several sanctorale calendars to choose from -
      e.g. General Roman Calendar in Latin and English.
      %code /calendars
      returns list of their identifiers.
    %pre
      = preserve do
        :escaped
          [
            "default",
            "general-la",
            "general-en",
            "czech"
          ]

.panel.panel-default#calendar-desc
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars/default'} /calendars/:cal
    %br
    %a{href: '/api/v0/en/calendars/default'} /calendars/default
    %br
    %a{href: '/api/v0/en/calendars/general-en'} /calendars/general-en
  .panel-body
    %p
      Fetches description of the selected calendar.
    %p
      The description has two parts.
      %b system
      describes the calendar system (which is the same for the whole API),
      %b sanctorale
      describes the selected set of data of sanctorale feasts.

    %pre
      = preserve do
        :escaped
          {
            "system": {
              "promulgated": 1969,
              "desc": "promulgated by motu proprio Mysterii Paschalis of Paul VI. (AAS 61 (1969), pp. 222-226)."
            },
            "sanctorale": {
              "title": "Calendarium Romanum Generale",
              "language": "la"
            }
          }

%h2 Query the Calendar

.panel.panel-default
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars/default/today'} /calendars/:cal/today
    %br
    %a{href: '/api/v0/en/calendars/general-en/today'} /calendars/general-en/today
    %br
    %b
      %a{href: '/api/v0/en/calendars/default/yesterday'} /calendars/:cal/yesterday
    %br
    %a{href: '/api/v0/en/calendars/general-en/yesterday'} /calendars/general-en/yesterday
    %br
    %b
      %a{href: '/api/v0/en/calendars/default/tomorrow'} /calendars/:cal/tomorrow
    %br
    %a{href: '/api/v0/en/calendars/general-en/tomorrow'} /calendars/general-en/tomorrow
  .panel-body
    %p
      Convenience shortcuts to get calendar entries for the current
      day and for the previous and next one.
    %p
      By default date and time of the server's time zone is used.
      If you need to serve audience in different timezones
      or in a single timezone different from the server's one,
      use endpoint with explicitly specified date instead.
      Alternatively, if the client provides it's local time
      in the
      %code Date
      HTTP header, the server respects it.
      But specifying date in request path is definitely
      the preferred way.

    %pre
      = preserve do
        :escaped
          {
            "date":"2015-06-27",
            "season":"ordinary",
            "season_week":12,
            "celebrations":[
              {"title":"","colour":"green","rank":"ferial","rank_num":3.13},
              {"title":"Saint Cyril of Alexandria, bishop and doctor","colour":"white","rank":"optional memorial","rank_num":3.12}
            ],
            "weekday":"saturday"
          }

    .alert.alert-info
      %p
        %strong Useful shortcut:
        If you wish to query the
        %a{href: '/api/v0/en/calendars/default'} default calendar,
        you may omit
        %code /calendars/default
        from the path. The API will redirect you with status 301
        to the full path.
        E.g.
        %code
          %a{href: '/api/v0/en/today'} /today
        redirects to
        %code /calendars/default/today
        This is especially useful when exploring the API manually through
        the address bar of your browser or
        %b curl
        on the command line.

.panel.panel-default
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars/default/2015/6/27'} /calendars/:cal/:year/:month/:day
    %br
    %a{href: '/api/v0/en/calendars/default/2015/6/27'} /calendars/default/2015/6/27
    %br
    %a{href: '/api/v0/en/calendars/default/1994/9/1'} /calendars/default/1994/9/1
    or
    %a{href: '/api/v0/en/calendars/default/1994/09/01'} /calendars/default/1994/09/01
  .panel-body
    %p
      Returns
      %a{href: '#day-struct'} Day entry
      for the specified day.

    .alert.alert-warning
      %p
        %strong Promulgation date as limit:
        The API refuses requests for dates with year being older than
        the year of promulgation of the implemented calendar system.
        You can find it by hitting the
        %a{href: '#calendar-desc'} calendar description route.

.panel.panel-default
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars/default/2015/6'} /calendars/:cal/:year/:month
    %br
    %a{href: '/api/v0/en/calendars/default/2015/6'} /calendars/default/2015/6
  .panel-body
    %p
      Returns an array of
      %a{href: '#day-struct'} Day entries
      for all days of the specified month

.panel.panel-default
  .panel-heading
    %b
      %a{href: '/api/v0/en/calendars/default/2015'} /calendars/:cal/:year
    %br
    %a{href: '/api/v0/en/calendars/default/2015'} /calendars/default/2015
  .panel-body
    %pre
      {"lectionary":"C","ferial_lectionary":2}

    %p
      Returns the year's common "liturgical setup".

    .alert.alert-warning
      %strong Civil vs. liturgical year:
      The way this endpoint works might not be obvious
      at the first glance.
      The problem is that the civil and Catholic liturgical year do not match.
      A liturgical year begins in November or December with the 1st Sunday of Advent.
      Thus
      %code /api/v0/en/2015
      returns information concerning the liturgical year 2015-2016
      and if you want to know which lectionary cycle is in use in June 2015,
      you have to call
      %code /api/v0/en/2014

%h2 Data Structures

The API mostly returns representations of liturgical days.
On each liturgical day one or more celebrations occur.

%h3#day-struct Liturgical Day

%pre
  = preserve do
    :escaped
      {
        "date":"2015-06-27",
        "season":"ordinary",
        "season_week":12,
        "celebrations":[
          {"title":"","colour":"green","rank":"ferial","rank_num":3.13},
          {"title":"Saint Cyril of Alexandria, bishop and doctor","colour":"white","rank":"optional memorial","rank_num":3.12}
        ],
        "weekday":"saturday"
      }

%ul
  %li
    %b date:
    ISO 8601 date
  %li
    %b season:
    ordinary/advent/christmas/lent/easter
  %li
    %b season_week:
    ordinal number of the season's week
    (the same you will find in liturgical books for the given day)
  %li
    %b weekday
    name of the weekday, lowercased, just for human-readability -
    of course you could compute it from the date
  %li
    %b celebrations
    array of alternative celebrations for the day

%h3#celebration-struct Celebration

%pre
  {"title":"Saint Cyril of Alexandria, bishop and doctor","colour":"white","rank":"optional memorial","rank_num":3.12}

%ul
  %li
    %b title:
    name of the celebration, may be empty
  %li
    %b colour:
    green/violet/white/red
  %li
    %b rank:
    textual description of celebration rank
  %li
    %b rank_num:
    celebration rank as number.
    The lower number, the higher priority.
    Numbers correspond with section numbers in the
    %a{href: 'http://www.catholicliturgy.com/index.cfm/fuseaction/documenttext/index/2/subindex/38/contentindex/104/start/97'} Table of Liturgical Days.
