.jumbotron
  %h1 Liturgical Calendar API

  %p
    %a{href: '/browse'} Browse
    the calendar on-line,
    %br
    Learn how to obtain data from it's JSON
    %a{href: '/api-doc'} API
    %br
    or
    %a{href: 'http://github.com/igneus/church-calendar-api'} fork it at github
    and hack it.

%p
  The API provides access to Roman Catholic liturgical calendar
  according to the norms set forth by the liturgical reform
  after the II Vatican Council. Several Sanctorale calendars
  are available and others can be added easily.
