.page-header
  %h1 Showcase

.panel.panel-default
  .panel-body
    %h2
      %a{href: 'http://www.inadiutorium.cz'} In adiutorium homepage
    %p
      Homepage of the In adiutorium project offers
      Liturgy of the Hours musical scores for the current liturgical season.
      For determination of the current liturgical season and day
      it relies on Church Calendar API.
      The "liturgical today" is retrieved once a day and cached until midnight.

.panel.panel-default
  .panel-body
    %h2
      %a{href: 'https://www.amazon.com/Mike-Kasberg-Catholic-Flash/dp/B073R8NSJV/'} Catholic Flash Alexa App
    %p
      Catholic Flash is an app for Amazon Alexa. It provides you with
      information from the Catholic liturgical calendar as part of your Alexa
      daily briefing. For example, it would tell you something like, "Today is
      the 18th Friday in ordinary time and is the feast day of Saint Augustine."

.panel.panel-default
  .panel-body
    %h2
      %a{href: 'https://play.google.com/store/apps/details?id=com.ethiccoders.romancalendar'} Catholic Liturgical Calendar Android App
    %p
      Catholic Liturgical Calendar Android App provides access
      to Roman Catholic liturgical calendar according to the norms
      set forth by the liturgical reform after the II Vatican Council.
      It supports all 5 language Calendars (en,fr,it,cs,la).
 .panel.panel-default
  .panel-body
    %h2
      %a{href: 'https://apps.apple.com/us/app/liturgical/id1524036837'} LiturgiCal App
    %p
      LiturgiCal (from Liturgical Calendar) is an app built
      for Catholics around the world to stay up to date
      on feast days and other church celebrations. LiturgiCal brings
      the Liturgical Calendar to your home screen on an iOS 14 widget!

%p
  Have you built an application using Church Calendar API?
  Or are you running your own public instance of the API?
  Showcase it here! You may directly edit
  %a{href: 'https://github.com/igneus/church-calendar-api/blob/calapi.inadiutorium.cz/apps/web/views/showcase.haml'} this page
  on github and open a pull-request.

%a.btn.btn-primary.btn-lg{href: 'https://github.com/igneus/church-calendar-api/blob/calapi.inadiutorium.cz/apps/web/views/showcase.haml'} Add my app
