.page-header
  %h1 Showcase

.panel.panel-default
  .panel-body
    %h2
      %a{href: 'http://www.inadiutorium.cz'} In adiutorium homepage
    %p
      Homepage of the In adiutorium project offers
      Liturgy of the Hours musical scores for the current liturgical season.
      For determination of the current liturgical season and day
      it relies on Church Calendar API.
      The "liturgical today" is retrieved once a day and cached until midnight.

%p
  Have you built an application using Church Calendar API?
  Showcase it here! You may directly edit
  %a{href: 'https://github.com/igneus/church-calendar-api/blob/master/apps/web/views/showcase.haml'} this page
  on github and open a pull-request.

%a.btn.btn-primary.btn-lg{href: 'https://github.com/igneus/church-calendar-api/edit/master/apps/web/views/showcase.haml'} Add my app
